.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the container height to fill the entire viewport */
}

.segment {
  display: flex;
  background-color: #faf0e6;
  /* flex: 1; Equal flex distribution to make all segments equal in size */
  padding: 20px;
  border: 1px solid #faf0e6;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-family: Cambria; 
  font-weight: 3px;
  font-size: 25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
